<!--
    -- @developedby Petr Klezla
    -- @date 11.7.2016
    -- @name Chat with socket
    -- @version 0.0.1
-->
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="/css/bootstrap.css" >
    <link rel="stylesheet" href="/css/bootstrap-theme.css" >
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- begin content -->
<div class="container-fluid" ></div><!-- end content -->

<!-- begin scripts -->
<script src="/js/socket.io-client/socket.io.js"></script>
<script src="/js/jquery-1.11.1.js"></script>
<script src="/js/react/react.js"></script>
<script src="/js/react/react-dom.js"></script>
<script src="/js/ChatForm.js"></script>
<script src="/js/LoginForm.js"></script>
<script src="/js/ListBox.js"></script>
<script src="/js/Message.js"></script>
<script src="/js/User.js"></script>
<script src="/js/Users.js"></script>
<script src="/js/Chat.js"></script>
<script src="/js/bootstrap.min.js"></script><!-- end scripts-->

</body>
</html>